/* variable */
:root {
    /* this is a radio accent color: ; */
    accent-color: var(--clr-pink);
    /* color variable */
    --clr-pink: #EF59A1;
    --clr-mid-pink: #F19EC2;
    --clr-lgt-pink: #FFF1F1;
    --clr-brown: #A92C2C;
    --clr-lgt-brown: #E7CFC8;
    --clr-grey: #F8F8F4;
    --clr-white: #ffffff;
    --clr-black: #000000;
    --clr-main-black: #4C4A49;
    --clr-ccc: #cccccc;
    --clr-nav-item: #cacaca;
    --clr-step:#bababa;
    --clr-grayer: #FAF5F4;
    /* font variable */
    --noto-font: 'Noto Regular', sans-serif;
    --imperial-font: "Imperial Script", sans-serif;
    --kaushan-font: 'KaushanScript', sans-serif;
    --Aclonica-font: 'Aclonica', sans-serif;
    /* border variable */
    --pink-border: 2px solid var(--clr-pink);
    /* shadow variable */

    --menu-shadow:
        0 4px 4px rgba(239, 89, 161, 0.3),
        4px 0 4px rgba(239, 89, 161, 0.3),
        0 -4px 4px rgba(239, 89, 161, 0.3),
        -4px 0 4px rgba(239, 89, 161, 0.3);
    /* border variable */
    --brd__nav-items: 1px solid var(--clr-nav-item);
    --brd__dashed--pink: 2px dashed var(--clr-pink)
}

/* --------------------------------------------------  ESSENTIAL PROP --------------------------------------------------------- */
a {
    transition: all 0.4s ease-in-out;
}

a:hover {
    opacity: 0.8;
}

.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.mx-1 {
    margin-left: 0.1rem !important;
    margin-right: 0.1rem !important;
}

.mx-2 {
    margin-left: 0.2rem !important;
    margin-right: 0.2rem !important;
}

.mx-3 {
    margin-left: 0.3rem !important;
    margin-right: 0.3rem !important;
}

.mx-4 {
    margin-left: 0.4rem !important;
    margin-right: 0.4rem !important;
}

.mx-5 {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
}

.mx-6 {
    margin-left: 0.6rem !important;
    margin-right: 0.6rem !important;
}

.mx-8 {
    margin-left: 0.8rem !important;
    margin-right: 0.8rem !important;
}

.mx-10 {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}

/* padding css */
.pt-0 {
    padding-top: 0 !important;
}

.pt-1 {
    padding-top: 0.1rem !important;
}

.pt-2 {
    padding-top: 0.2rem !important;
}

.pt-3 {
    padding-top: 0.3rem !important;
}

.pt-4 {
    padding-top: 0.4rem !important;
}

.pt-5 {
    padding-top: 0.5rem !important;
}

.pt-6 {
    padding-top: 0.6rem !important;
}

.pt-8 {
    padding-top: 0.8rem !important;
}

.pt-10 {
    padding-top: 1rem !important;
}

.pt-12 {
    padding-top: 1.2rem !important;
}

.pt-14 {
    padding-top: 1.4rem !important;
}

.pt-15 {
    padding-top: 1.5rem !important;
}

.pt-16 {
    padding-top: 1.6rem !important;
}

.pt-18 {
    padding-top: 1.8rem !important;
}

.pt-20 {
    padding-top: 2rem !important;
}

.pt-22 {
    padding-top: 2.2rem !important;
}

.pt-24 {
    padding-top: 2.4rem !important;
}

.pt-25 {
    padding-top: 2.5rem !important;
}

.pt-26 {
    padding-top: 2.6rem !important;
}

.pt-28 {
    padding-top: 2.8rem !important;
}

.pt-30 {
    padding-top: 3rem !important;
}

.pt-32 {
    padding-top: 3.2rem !important;
}

.pt-35 {
    padding-top: 3.5rem !important;
}

.pt-36 {
    padding-top: 3.6rem !important;
}

.pt-38 {
    padding-top: 3.8rem !important;
}

.pt-40 {
    padding-top: 4rem !important;
}

.pt-42 {
    padding-top: 4.2rem !important;
}

.pt-45 {
    padding-top: 4.5rem !important;
}

.pt-48 {
    padding-top: 4.8rem !important;
}

.pt-50 {
    padding-top: 5rem !important;
}

.pt-60 {
    padding-top: 6rem !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pb-1 {
    padding-bottom: 0.1rem !important;
}

.pb-2 {
    padding-bottom: 0.2rem !important;
}

.pb-3 {
    padding-bottom: 0.3rem !important;
}

.pb-4 {
    padding-bottom: 0.4rem !important;
}

.pb-5 {
    padding-bottom: 0.5rem !important;
}

.pb-6 {
    padding-bottom: 0.6rem !important;
}

.pb-8 {
    padding-bottom: 0.8rem !important;
}

.pb-10 {
    padding-bottom: 1rem !important;
}

.pb-12 {
    padding-bottom: 1.2rem !important;
}

.pb-14 {
    padding-bottom: 1.4rem !important;
}

.pb-15 {
    padding-bottom: 1.5rem !important;
}

.pb-16 {
    padding-bottom: 1.6rem !important;
}

.pb-18 {
    padding-bottom: 1.8rem !important;
}

.pb-20 {
    padding-bottom: 2rem !important;
}

.pb-22 {
    padding-bottom: 2.2rem !important;
}

.pb-24 {
    padding-bottom: 2.4rem !important;
}

.pb-25 {
    padding-bottom: 2.5rem !important;
}

.pb-26 {
    padding-bottom: 2.6rem !important;
}

.pb-28 {
    padding-bottom: 2.8rem !important;
}

.pb-30 {
    padding-bottom: 3rem !important;
}

.pb-32 {
    padding-bottom: 3.2rem !important;
}

.pb-35 {
    padding-bottom: 3.5rem !important;
}

.pb-36 {
    padding-bottom: 3.6rem !important;
}

.pb-38 {
    padding-bottom: 3.8rem !important;
}

.pb-40 {
    padding-bottom: 4rem !important;
}

.pb-42 {
    padding-bottom: 4.2rem !important;
}

.pb-45 {
    padding-bottom: 4.5rem !important;
}

.pb-48 {
    padding-bottom: 4.8rem !important;
}

.pb-50 {
    padding-bottom: 5rem !important;
}

.pb-60 {
    padding-bottom: 6rem !important;
}

.pb-70 {
    padding-bottom: 7rem !important;
}

.pb-80 {
    padding-bottom: 8rem !important;
}

.pb-90 {
    padding-bottom: 9rem !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.pl-1 {
    padding-left: 0.1rem !important;
}

.pl-2 {
    padding-left: 0.2rem !important;
}

.pl-3 {
    padding-left: 0.3rem !important;
}

.pl-4 {
    padding-left: 0.4rem !important;
}

.pl-5 {
    padding-left: 0.5rem !important;
}

.pl-6 {
    padding-left: 0.6rem !important;
}

.pl-8 {
    padding-left: 0.8rem !important;
}

.pl-10 {
    padding-left: 1rem !important;
}

.pl-12 {
    padding-left: 1.2rem !important;
}

.pl-14 {
    padding-left: 1.4rem !important;
}

.pl-15 {
    padding-left: 1.5rem !important;
}

.pl-16 {
    padding-left: 1.6rem !important;
}

.pl-18 {
    padding-left: 1.8rem !important;
}

.pl-20 {
    padding-left: 2rem !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.pr-1 {
    padding-right: 0.1rem !important;
}

.pr-2 {
    padding-right: 0.2rem !important;
}

.pr-3 {
    padding-right: 0.3rem !important;
}

.pr-4 {
    padding-right: 0.4rem !important;
}

.pr-5 {
    padding-right: 0.5rem !important;
}

.pr-6 {
    padding-right: 0.6rem !important;
}

.pr-8 {
    padding-right: 0.8rem !important;
}

.pr-10 {
    padding-right: 1rem !important;
}

.pr-12 {
    padding-right: 1.2rem !important;
}

.pr-14 {
    padding-right: 1.4rem !important;
}

.pr-15 {
    padding-right: 1.5rem !important;
}

.pr-16 {
    padding-right: 1.6rem !important;
}

.pr-18 {
    padding-right: 1.8rem !important;
}

.pr-20 {
    padding-right: 2rem !important;
}

.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.w-10 {
    width: 1.0rem;
}

.w-11 {
    width: 1.1rem;
}

.w-12 {
    width: 1.2rem;
}

.w-13 {
    width: 1.3rem;
}

.w-14 {
    width: 1.4rem;
}

.w-15 {
    width: 1.5rem;
}

.w-16 {
    width: 1.6rem;
}

.w-17 {
    width: 1.7rem;
}

.w-18 {
    width: 1.8rem;
}

.w-19 {
    width: 1.9rem;
}

.w-20 {
    width: 2.0rem;
}

.w-21 {
    width: 2.1rem;
}

.w-22 {
    width: 2.2rem;
}

.w-23 {
    width: 2.3rem;
}

.w-24 {
    width: 2.4rem;
}

.w-25 {
    width: 2.5rem;
}

.w-26 {
    width: 2.6rem;
}

.w-27 {
    width: 2.7rem;
}

.w-28 {
    width: 2.8rem;
}

.w-29 {
    width: 2.9rem;
}

.w-30 {
    width: 3.0rem;
}

.w-31 {
    width: 3.1rem;
}

.w-32 {
    width: 3.2rem;
}

.w-33 {
    width: 3.3rem;
}

.w-34 {
    width: 3.4rem;
}

.w-35 {
    width: 3.5rem;
}

.w-36 {
    width: 3.6rem;
}

.w-37 {
    width: 3.7rem;
}

.w-38 {
    width: 3.8rem;
}

.w-39 {
    width: 3.9rem;
}

.w-40 {
    width: 4.0rem;
}

.w-41 {
    width: 4.1rem;
}

.w-42 {
    width: 4.2rem;
}

.w-43 {
    width: 4.3rem;
}

.w-44 {
    width: 4.4rem;
}

.w-45 {
    width: 4.5rem;
}

.w-46 {
    width: 4.6rem;
}

.w-47 {
    width: 4.7rem;
}

.w-48 {
    width: 4.8rem;
}

.w-49 {
    width: 4.9rem;
}

.w-50 {
    width: 5.0rem;
}

.w-51 {
    width: 5.1rem;
}

.w-52 {
    width: 5.2rem;
}

.w-53 {
    width: 5.3rem;
}

.w-54 {
    width: 5.4rem;
}

.w-55 {
    width: 5.5rem;
}

.w-56 {
    width: 5.6rem;
}

.w-57 {
    width: 5.7rem;
}

.w-58 {
    width: 5.8rem;
}

.w-59 {
    width: 5.9rem;
}

.w-60 {
    width: 6.0rem;
}

.w-61 {
    width: 6.1rem;
}

.w-62 {
    width: 6.2rem;
}

.w-63 {
    width: 6.3rem;
}

.w-64 {
    width: 6.4rem;
}

.w-65 {
    width: 6.5rem;
}

.w-66 {
    width: 6.6rem;
}

.w-67 {
    width: 6.7rem;
}

.w-68 {
    width: 6.8rem;
}

.w-69 {
    width: 6.9rem;
}

.w-70 {
    width: 7.0rem;
}

.w-71 {
    width: 7.1rem;
}

.w-72 {
    width: 7.2rem;
}

.w-73 {
    width: 7.3rem;
}

.w-74 {
    width: 7.4rem;
}

.w-75 {
    width: 7.5rem;
}

.w-76 {
    width: 7.6rem;
}

.w-77 {
    width: 7.7rem;
}

.w-78 {
    width: 7.8rem;
}

.w-79 {
    width: 7.9rem;
}

.w-80 {
    width: 8.0rem;
}

.w-81 {
    width: 8.1rem;
}

.w-82 {
    width: 8.2rem;
}

.w-83 {
    width: 8.3rem;
}

.w-84 {
    width: 8.4rem;
}

.w-85 {
    width: 8.5rem;
}

.w-86 {
    width: 8.6rem;
}

.w-87 {
    width: 8.7rem;
}

.w-88 {
    width: 8.8rem;
}

.w-89 {
    width: 8.9rem;
}

.w-110 {
    width: 11rem;
}

.w-120 {
    width: 12rem;
}

.w-130 {
    width: 13rem;
}

.w-140 {
    width: 14rem;
}

.w-150 {
    width: 15rem;
}

.w-160 {
    width: 16rem;
}

.w-170 {
    width: 17rem;
}

.w-180 {
    width: 18rem;
}

.w-190 {
    width: 19rem;
}

.w-200 {
    width: 20rem;
}

.w-210 {
    width: 21rem;
}

.w-220 {
    width: 22rem;
}

.w-230 {
    width: 23rem;
}

.w-240 {
    width: 24rem;
}

.w-250 {
    width: 25rem;
}

.w-260 {
    width: 26rem;
}

.w-270 {
    width: 27rem;
}

.w-280 {
    width: 28rem;
}

.w-290 {
    width: 29rem;
}

.w-300 {
    width: 30rem;
}

.w-310 {
    width: 31rem;
}

.w-320 {
    width: 32rem;
}

.w-330 {
    width: 33rem;
}

.w-340 {
    width: 34rem;
}

.w-350 {
    width: 35rem;
}

.w-360 {
    width: 36rem;
}

.w-370 {
    width: 37rem;
}

.w-380 {
    width: 38rem;
}

.w-390 {
    width: 39rem;
}

.w-400 {
    width: 40rem;
}

.w-410 {
    width: 41rem;
}

.w-420 {
    width: 42rem;
}

.w-430 {
    width: 43rem;
}

.w-440 {
    width: 44rem;
}

.w-450 {
    width: 45rem;
}

.w-460 {
    width: 46rem;
}

.w-470 {
    width: 47rem;
}

.w-480 {
    width: 48rem;
}

.w-490 {
    width: 49rem;
}

.w-500 {
    width: 50rem;
}

.w-510 {
    width: 51rem;
}

.w-520 {
    width: 52rem;
}

.w-530 {
    width: 53rem;
}

.w-540 {
    width: 54rem;
}

.w-550 {
    width: 55rem;
}

.w-560 {
    width: 56rem;
}

.w-570 {
    width: 57rem;
}

.w-580 {
    width: 58rem;
}

.w-590 {
    width: 59rem;
}

.w-600 {
    width: 60rem;
}

.w-610 {
    width: 61rem;
}

.w-620 {
    width: 62rem;
}

.w-630 {
    width: 63rem;
}

.w-640 {
    width: 64rem;
}

.w-650 {
    width: 65rem;
}

.w-660 {
    width: 66rem;
}

.w-670 {
    width: 67rem;
}

.w-680 {
    width: 68rem;
}

.w-690 {
    width: 69rem;
}

.w-700 {
    width: 70rem;
}

.w-710 {
    width: 71rem;
}

.w-720 {
    width: 72rem;
}

.w-730 {
    width: 73rem;
}

.w-740 {
    width: 74rem;
}

.w-750 {
    width: 75rem;
}

.w-760 {
    width: 76rem;
}

.w-770 {
    width: 77rem;
}

.w-780 {
    width: 78rem;
}

.w-790 {
    width: 79rem;
}

.w-800 {
    width: 80rem;
}

.w-810 {
    width: 81rem;
}

.w-820 {
    width: 82rem;
}

.w-830 {
    width: 83rem;
}

.w-840 {
    width: 84rem;
}

.w-850 {
    width: 85rem;
}

.w-860 {
    width: 86rem;
}

.w-870 {
    width: 87rem;
}

.w-880 {
    width: 88rem;
}

.w-890 {
    width: 89rem;
}

/* height prop */
.h-11 {
    height: 1.1rem;
}

.h-12 {
    height: 1.2rem;
}

.h-13 {
    height: 1.3rem;
}

.h-14 {
    height: 1.4rem;
}

.h-15 {
    height: 1.5rem;
}

.h-16 {
    height: 1.6rem;
}

.h-17 {
    height: 1.7rem;
}

.h-18 {
    height: 1.8rem;
}

.h-19 {
    height: 1.9rem;
}

.h-20 {
    height: 2.0rem;
}

.h-21 {
    height: 2.1rem;
}

.h-22 {
    height: 2.2rem;
}

.h-23 {
    height: 2.3rem;
}

.h-24 {
    height: 2.4rem;
}

.h-25 {
    height: 2.5rem;
}

.h-26 {
    height: 2.6rem;
}

.h-27 {
    height: 2.7rem;
}

.h-28 {
    height: 2.8rem;
}

.h-29 {
    height: 2.9rem;
}

.h-30 {
    height: 3.0rem;
}

.h-31 {
    height: 3.1rem;
}

.h-32 {
    height: 3.2rem;
}

.h-33 {
    height: 3.3rem;
}

.h-34 {
    height: 3.4rem;
}

.h-35 {
    height: 3.5rem;
}

.h-36 {
    height: 3.6rem;
}

.h-37 {
    height: 3.7rem;
}

.h-38 {
    height: 3.8rem;
}

.h-39 {
    height: 3.9rem;
}

.h-40 {
    height: 4.0rem;
}

.h-41 {
    height: 4.1rem;
}

.h-42 {
    height: 4.2rem;
}

.h-43 {
    height: 4.3rem;
}

.h-44 {
    height: 4.4rem;
}

.h-45 {
    height: 4.5rem;
}

.h-46 {
    height: 4.6rem;
}

.h-47 {
    height: 4.7rem;
}

.h-48 {
    height: 4.8rem;
}

.h-49 {
    height: 4.9rem;
}

.h-50 {
    height: 5.0rem;
}

.h-51 {
    height: 5.1rem;
}

.h-52 {
    height: 5.2rem;
}

.h-53 {
    height: 5.3rem;
}

.h-54 {
    height: 5.4rem;
}

.h-55 {
    height: 5.5rem;
}

.h-56 {
    height: 5.6rem;
}

.h-57 {
    height: 5.7rem;
}

.h-58 {
    height: 5.8rem;
}

.h-59 {
    height: 5.9rem;
}

.h-60 {
    height: 6.0rem;
}

.h-61 {
    height: 6.1rem;
}

.h-62 {
    height: 6.2rem;
}

.h-63 {
    height: 6.3rem;
}

.h-64 {
    height: 6.4rem;
}

.h-65 {
    height: 6.5rem;
}

.h-66 {
    height: 6.6rem;
}

.h-67 {
    height: 6.7rem;
}

.h-68 {
    height: 6.8rem;
}

.h-69 {
    height: 6.9rem;
}

.h-70 {
    height: 7.0rem;
}

.h-71 {
    height: 7.1rem;
}

.h-72 {
    height: 7.2rem;
}

.h-73 {
    height: 7.3rem;
}

.h-74 {
    height: 7.4rem;
}

.h-75 {
    height: 7.5rem;
}

.h-76 {
    height: 7.6rem;
}

.h-77 {
    height: 7.7rem;
}

.h-78 {
    height: 7.8rem;
}

.h-79 {
    height: 7.9rem;
}

.h-80 {
    height: 8.0rem;
}

.h-81 {
    height: 8.1rem;
}

.h-82 {
    height: 8.2rem;
}

.h-83 {
    height: 8.3rem;
}

.h-84 {
    height: 8.4rem;
}

.h-85 {
    height: 8.5rem;
}

.h-86 {
    height: 8.6rem;
}

.h-87 {
    height: 8.7rem;
}

.h-88 {
    height: 8.8rem;
}

.h-89 {
    height: 8.9rem;
}

.h-110 {
    height: 11rem;
}

.h-120 {
    height: 12rem;
}

.h-130 {
    height: 13rem;
}

.h-140 {
    height: 14rem;
}

.h-150 {
    height: 15rem;
}

.h-160 {
    height: 16rem;
}

.h-170 {
    height: 17rem;
}

.h-180 {
    height: 18rem;
}

.h-190 {
    height: 19rem;
}

.h-200 {
    height: 20rem;
}

.h-210 {
    height: 21rem;
}

.h-220 {
    height: 22rem;
}

.h-230 {
    height: 23rem;
}

.h-240 {
    height: 24rem;
}

.h-250 {
    height: 25rem;
}

.h-260 {
    height: 26rem;
}

.h-270 {
    height: 27rem;
}

.h-280 {
    height: 28rem;
}

.h-290 {
    height: 29rem;
}

.h-300 {
    height: 30rem;
}

.h-310 {
    height: 31rem;
}

.h-320 {
    height: 32rem;
}

.h-330 {
    height: 33rem;
}

.h-340 {
    height: 34rem;
}

.h-350 {
    height: 35rem;
}

.h-360 {
    height: 36rem;
}

.h-370 {
    height: 37rem;
}

.h-380 {
    height: 38rem;
}

.h-390 {
    height: 39rem;
}

.h-400 {
    height: 40rem;
}

.h-410 {
    height: 41rem;
}

.h-420 {
    height: 42rem;
}

.h-430 {
    height: 43rem;
}

.h-440 {
    height: 44rem;
}

.h-450 {
    height: 45rem;
}

.h-460 {
    height: 46rem;
}

.h-470 {
    height: 47rem;
}

.h-480 {
    height: 48rem;
}

.h-490 {
    height: 49rem;
}

.h-500 {
    height: 50rem;
}

.h-510 {
    height: 51rem;
}

.h-520 {
    height: 52rem;
}

.h-530 {
    height: 53rem;
}

.h-540 {
    height: 54rem;
}

.h-550 {
    height: 55rem;
}

.h-560 {
    height: 56rem;
}

.h-570 {
    height: 57rem;
}

.h-580 {
    height: 58rem;
}

.h-590 {
    height: 59rem;
}

.h-600 {
    height: 60rem;
}

.h-610 {
    height: 61rem;
}

.h-620 {
    height: 62rem;
}

.h-630 {
    height: 63rem;
}

.h-640 {
    height: 64rem;
}

.h-650 {
    height: 65rem;
}

.h-660 {
    height: 66rem;
}

.h-670 {
    height: 67rem;
}

.h-680 {
    height: 68rem;
}

.h-690 {
    height: 69rem;
}

.h-700 {
    height: 70rem;
}

.h-710 {
    height: 71rem;
}

.h-720 {
    height: 72rem;
}

.h-730 {
    height: 73rem;
}

.h-740 {
    height: 74rem;
}

.h-750 {
    height: 75rem;
}

.h-760 {
    height: 76rem;
}

.h-770 {
    height: 77rem;
}

.h-780 {
    height: 78rem;
}

.h-790 {
    height: 79rem;
}

.h-800 {
    height: 80rem;
}

.h-810 {
    height: 81rem;
}

.h-820 {
    height: 82rem;
}

.h-830 {
    height: 83rem;
}

.h-840 {
    height: 84rem;
}

.h-850 {
    height: 85rem;
}

.h-860 {
    height: 86rem;
}

.h-870 {
    height: 87rem;
}

.h-880 {
    height: 88rem;
}

.h-890 {
    height: 89rem;
}

/* font-size prop */
.font-10 {
    font-size: 1.0rem !important;
}

.font-12 {
    font-size: 1.2rem !important;
}

.font-13 {
    font-size: 1.3rem !important;
}

.font-14 {
    font-size: 1.4rem !important;
}

.font-15 {
    font-size: 1.5rem !important;
}

.font-16 {
    font-size: 1.6rem !important;
}

.font-17 {
    font-size: 1.7rem !important;
}

.font-18 {
    font-size: 1.8rem !important;
}

.font-19 {
    font-size: 1.9rem !important;
}

.font-20 {
    font-size: 2.0rem !important;
}

.font-22 {
    font-size: 2.2rem !important;
}

.font-23 {
    font-size: 2.3rem !important;
}

.font-24 {
    font-size: 2.4rem !important;
}

.font-25 {
    font-size: 2.5rem !important;
}

.font-26 {
    font-size: 2.6rem !important;
}

.font-27 {
    font-size: 2.7rem !important;
}

.font-28 {
    font-size: 2.8rem !important;
}

.font-29 {
    font-size: 2.9rem !important;
}

.font-30 {
    font-size: 3.0rem !important;
}

.font-32 {
    font-size: 3.2rem !important;
}

.font-33 {
    font-size: 3.3rem !important;
}

.font-34 {
    font-size: 3.4rem !important;
}

.font-35 {
    font-size: 3.5rem !important;
}

.font-36 {
    font-size: 3.6rem !important;
}

.font-37 {
    font-size: 3.7rem !important;
}

.font-38 {
    font-size: 3.8rem !important;
}

.font-39 {
    font-size: 3.9rem !important;
}

.font-40 {
    font-size: 4.0rem !important;
}

.font-42 {
    font-size: 4.2rem !important;
}

.font-43 {
    font-size: 4.3rem !important;
}

.font-44 {
    font-size: 4.4rem !important;
}

.font-45 {
    font-size: 4.5rem !important;
}

.font-46 {
    font-size: 4.6rem !important;
}

.font-47 {
    font-size: 4.7rem !important;
}

.font-48 {
    font-size: 4.8rem !important;
}

.font-49 {
    font-size: 4.9rem !important;
}

.font-50 {
    font-size: 5.0rem !important;
}

.font-52 {
    font-size: 5.2rem !important;
}

.font-53 {
    font-size: 5.3rem !important;
}

.font-54 {
    font-size: 5.4rem !important;
}

.font-55 {
    font-size: 5.5rem !important;
}

.font-56 {
    font-size: 5.6rem !important;
}

.font-57 {
    font-size: 5.7rem !important;
}

.font-58 {
    font-size: 5.8rem !important;
}

.font-59 {
    font-size: 5.9rem !important;
}

.font-60 {
    font-size: 6.0rem !important;
}

.font-62 {
    font-size: 6.2rem !important;
}

.font-63 {
    font-size: 6.3rem !important;
}

.font-64 {
    font-size: 6.4rem !important;
}

.font-65 {
    font-size: 6.5rem !important;
}

.font-66 {
    font-size: 6.6rem !important;
}

.font-67 {
    font-size: 6.7rem !important;
}

.font-68 {
    font-size: 6.8rem !important;
}

.font-69 {
    font-size: 6.9rem !important;
}

.fw-100 {
    font-weight: 100 !important;
}

.fw-200 {
    font-weight: 200 !important;
}

.fw-300 {
    font-weight: 300 !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.fw-800 {
    font-weight: 800 !important;
}

.fw-900 {
    font-weight: 900;
}

/* letter spacing prop */
.ltr__spacing--common {
    letter-spacing: 0.08em;
}
.ls-01{
    letter-spacing: 0.1em;
}
/* line-height prop */
.line-height-10 {
    line-height: 1.0 !important;
}

.line-height-12 {
    line-height: 1.2 !important;
}

.line-height-13 {
    line-height: 1.3 !important;
}

.line-height-14 {
    line-height: 1.4 !important;
}

.line-height-15 {
    line-height: 1.5 !important;
}

.line-height-16 {
    line-height: 1.6 !important;
}

.line-height-17 {
    line-height: 1.8 !important;
}


/* container */


/* text align center */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

/* vertical align center */
.vertical-align-center {
    vertical-align: middle;
}

/* button */
.btn {
    text-align: center;
}

.btn-effect--push {
    transition: all 0.3s ease-in-out;
}

.btn-effect--push:active {
    transform: translateY(2px);
}

/* type of feature */
.round {
    border-radius: 50%;
}

/* float property */
.float-wrapper {
    overflow: auto;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* border property */




/* --border style */
.brd-none {
    border: none;
}

.brd-solid {
    border-style: solid;
}

.brd-bt-dashed {
    border-bottom-style: dashed;
}

.brd-bt-solid {
    border-bottom-style: solid;
}

/* --border-width */
.brd-1 {
    border-width: 1px;
}

.brd-2 {
    border-width: 2px;
}

.brd-3 {
    border-width: 3px;
}

.brd-4 {
    border-width: 4px;
}

.brd-5 {
    border-width: 5px;
}

.brd-6 {
    border-width: 6px;
}

.brd-top-btm-dashed {
    border-top: var(--brd__dashed--pink);
    border-bottom: var(--brd__dashed--pink);
}

.brd-top-dashed {
    border-top: var(--brd__dashed--pink);
}

/* ------------------------------------------  USER DEFINE ------------------------------------------------------------- */

/* display prop */
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.no-display {
    display: none;
}

/* --flex prop */
.flex {
    display: flex;
}

.flex-x-y-center {
    justify-content: center;
    align-items: center;
}

.flex-x-center {
    justify-content: center;
}

.flex-x-left {
    justify-content: flex-start;
}

.flex-x-right {
    justify-content: flex-end;
}

.flex-y-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* position prop */
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}



/* width prop */
.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.full-size {
    width: 100%;
    height: 100%;
}

.w-fit-content {
    width: fit-content;
}

/* object prop */
.obj-fit-cover {
    object-fit: cover;
}

.obj-fit-contain {
    object-fit: contain;
}

.obj-pos-x-y-center {
    object-position: center center;
}

/* background image prop */
.bg-no-repeat {
    background-repeat: no-repeat;
}

.bg-cover {
    background-size: cover;
}

.bg-contain {
    background-size: contain;
}

.bg-x-y-center {
    background-position: center center;
}

/* background prop */
.back-clr-none {
    background: transparent;
}

.back-clr-pink {
    background: var(--clr-pink);
}

.back-clr-mid-pink {
    background: var(--clr-mid-pink);
}

.back-clr-lgt-pink {
    background: var(--clr-lgt-pink);
}

.back-clr-brown {
    background: var(--clr-brown);
}

.back-clr-lgt-brown {
    background: var(--clr-lgt-brown);
}

.back-clr-grey {
    background: var(--clr-grey);

}

.back-clr-white {
    background: var(--clr-white);
}

.back-clr-black {
    background: var(--clr-black);
}

.back-clr-main-black {
    background: var(--clr-main-black);
}
.back-clr-ccc{
    background: var(--clr-ccc);
}
.back-clr-grayer{
    background: var(--clr-grayer);
}

/* color property */
.clr-pink {
    color: var(--clr-pink);
}

.clr-mid-pink {
    color: var(--clr-mid-pink);
}

.clr-lgt-pink {
    color: var(--clr-lgt-pink);
}

.clr-brown {
    color: var(--clr-brown);
}

.clr-lgt-brown {
    color: var(--clr-lgt-brown);
}

.clr-grey {
    color: #EEEEEE;
}

.clr-white {
    color: var(--clr-white);
}

.clr-black {
    color: var(--clr-black);
}

.clr-main-black {
    color: var(--clr-main-black);
}
.clr-grayer{
    color: var(--clr-grayer);
}

/* --border color */
.brd-clr-pink {
    border-color: var(--clr-pink);
}

.brd-clr-mid-pink {
    border-color: var(--clr-mid-pink);
}

.brd-clr-lgt-pink {
    border-color: var(--clr-lgt-pink);
}

.brd-clr-brown {
    border-color: var(--clr-brown);
}

.brd-clr-lgt-brown {
    border-color: var(--clr-lgt-brown);
}

.brd-clr-grey {
    border-color: #EEEEEE;
}

.brd-clr-white {
    border-color: var(--clr-white);
}

.brd-clr-black {
    border-color: var(--clr-black);
}

.brd-clr-main-black {
    border-color: var(--clr-main-black);
}

/* text outline prop */
.text-shd-clr-pink {
    text-shadow: 2px 0 0 var(--clr-pink);
}

.text-shd-clr-mid-pink {
    text-shadow: 2px 0 0 var(--clr-mid-pink);
}

/* before and after prop */
.has-x-y-center-before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.has-center-bottom-triangle::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    width: 9rem;
    height: 2rem;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    transform: translateX(-50%);
}

.after-clr-inherit::after {
    background: inherit;
}

/* container */
.h-container {
    width: 100%;
    max-width: 135rem;
    margin: 0 auto;
    padding: 1.4rem 1.5rem 1.4rem;
}

.f-container {
    width: 100%;
    max-width: 116rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.out-container {
    width: 100%;
    max-width: 135rem;
    margin: 0 auto;
    padding: 1.4rem 1.5rem 1.4rem;
}

.menu-container {
    width: 100%;
    max-width: 116rem;
    margin: 0 auto;
    padding: 0 1.5rem;


}

.main-container {
    width: 100%;
    max-width: 111rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.h-container.scroll {
    padding: 0 1.5rem;
}

/* hide and display */
.pc-hide {
    display: none;
}

.sp-hide {
    display: block;
}

/* font family prop */
.font-imperial {
    font-family: var(--imperial-font);
}

.font-kaushan {
    font-family: var(--kaushan-font);
}

.font-Aclonica {
    font-family: var(--Aclonica-font);
}

/* product list prop */
.prd-lists {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 9.8rem;
    row-gap: 7.7rem;
}

.prd-lists__item {
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 4px var(--clr-pink);
    border-radius: 2rem;
}

.prd-lists__item>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 7rem;
    height: 7rem;
    z-index: 6666;
}

.prd-lists__item-wrapper a {
    display: flex;
    width: 100%;
    height: 30rem;
    transition: 0.3s all ease-in-out;
    overflow: hidden;
}

.prd-lists__item-wrapper a:hover {
    opacity: 0.8;

}

.prd-lists__item-wrapper a:hover img {
    transform: scale(1.1);
}

.prd-lists__item-wrapper a img {
    width: 100%;
    height: 100%;
    transition: 0.3s all ease-in-out;
}

.prd-lists__item-wrapper .prd-item-desc {
    padding: 1.8rem 1.8rem;
}

.prd-lists__item-wrapper .prd-item-desc p {
    font-size: 2rem;
    text-align: center;
    line-height: 1.7;
    font-weight: 900;
}

.prd-lists__item-wrapper .prd-item-desc div.business-day {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.6rem;

}

.prd-lists__item-wrapper .prd-item-desc div.business-day span {
    border: 1px solid var(--clr-pink);
    color: var(--clr-pink);
    border-radius: 2rem;
    line-height: 1.7;
    padding: 0 1rem;
}

/* breadcrumb component */
.breadcrumb {
    width: 100%;
    height: 100%;

}

.breadcrumb::after {
    position: absolute;
    top: 0.4rem;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    content: '';
}

.breadcrumb .breadcrumb-container {
    width: 100%;
    max-width: 135rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.breadcrumb .breadcrumb-wrapper {
    padding: 1rem 7.8rem;
    border-radius: 0.4rem;

}

.breadcrumb .breadcrumb-wrapper a {
    padding-left: 4rem;
    margin-right: 1rem;
    font-size: 1.4rem;
    transition: all 0.3s ease-in-out;
}

.breadcrumb .breadcrumb-wrapper a.current {
    color: var(--clr-brown);
}

.breadcrumb .breadcrumb-wrapper a::before {
    content: "";
    position: absolute;
    left: 2rem;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1.2rem;
    height: 1.2rem;
    background: url(../img/breadcrumb/next.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.breadcrumb .breadcrumb-wrapper a.current::before {
    content: "";
    position: absolute;
    left: 2rem;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1.2rem;
    height: 1.2rem;
    background: url(../img/breadcrumb/next_current.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* text decoration animation */
.txt-btm--animation::after {
    content: "";
    display: block;
    border-bottom-color: inherit;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.txt-btm--animation:hover::after {
    transform: scaleX(1);
}

.txt-btm--animation.ani__from-left::after {
    transform-origin: 0 50%;
}

.txt-btm--animation.ani__from-right::after {
    transform-origin: 100% 50%;
}

/* pagination style */
.pagination {
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
    justify-content: flex-end;
}

.pagination a {
    width: 5rem;
    height: 5rem;
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    background: var(--clr-lgt-pink);
    color: var(--clr-pink);
    font-weight: 900;
}

.pagination .active a {
    background: #ffffff;
    border: 1px solid var(--clr-pink);

}

.pagination ul {
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
}

/* down icon absolute prop */
.absolute.y-center.r-20 {
    top: 50%;
    right: 2rem;
    translate: 0 -50%;
    width: 2.4rem;
}

/* larger span style */
.larger {
    font-size: 2.2rem;
    letter-spacing: 0.08em;
}

/* hover underline color */
.hvr-underline-clr-pink::before {
    background: var(--clr-pink);
}

[class*="hvr-sweep"]::after,
[class*="hvr-sweep"]::before {
    background: #fff;
}

[class*="hvr-sweep"]:hover {
    color: var(--clr-pink);
}

[class*="hvr-underline"]::after,
[class*="hvr-underline"]::before {
    height: 2px;
    background: var(--clr-pink);
}

.input-number {
    width: 8rem;
    padding: 0 1.2rem;
    vertical-align: top;
    text-align: center;
    outline: none;
    /* pointer-events: none; */
    color: var(--clr-pink);
    font-size: 2rem;
}

.input-number,
.input-number-decrement,
.input-number-increment {
    border: transparent;
    height: 4rem;
    user-select: none;
    background: transparent;
}

.input-number::-webkit-inner-spin-button,
.input-number::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-number-decrement,
.input-number-increment {
    display: inline-block;
    width: 3rem;
    line-height: 3.8rem;
    color: var(--clr-pink);
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.input-number-decrement:active,
.input-number-increment:active {
    background: #ddd;
}

.input-number-decrement {
    border-right: none;
    border-radius: 0.4rem 0 0 0.4rem;
}

.input-number-increment {
    border-left: none;
    border-radius: 0 0.4rem 0.4rem 0;
}

/* select option prop */
.box-select {
    position: relative;
    display: inline-block;
    width: 22rem;
    height: 4.2rem;
}

.box-select.focus::after {
    content: "\f106";
    font-family: fontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    border-left: 1px solid var(--clr-pink);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-pink);
}

.box-select::after {
    content: "\f107";
    font-family: fontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    border-left: 1px solid var(--clr-pink);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-pink);
}

.box-select select {
    position: relative;
    -moz-appearance: none;
    -webkit-appearance: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 1px solid var(--clr-pink);
    border-radius: 0.6rem;
    border-radius: 0.2rem;
    padding: 0.4rem 2rem;
    border-radius: 0.4rem;
    z-index: 100;
    background: transparent;
    /* font-size: 1.8rem; */
}

.box-select select option {
    width: 20.4rem;
    height: 4.2rem;
    /* font-size: 1.8rem; */
}

.box-select.focus select {
    box-shadow: 2px 2px 4px rgba(239, 89, 161, 0.3);
}

/* tab prop */
.tab__header {
    margin-left: 5rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    z-index: 30;
}

.tab__header li a {
    display: block;
    background: #ddd;
    margin: 0 0.2rem;
    padding: 1rem 1rem;
    border: 1px solid var(--clr-pink);
    border-radius: 0.5rem 0.5rem 0 0;
    background: var(--clr-pink);
    color: #ffffff;
    font-weight: 900;
    letter-spacing: 0.08em;
    translate: 0 1px;
    line-height: 1.2 !important;
    font-size: 1.4rem !important;


}

/*liにactiveクラスがついた時の形状*/
.tab__header li.active a {
    background: #fff;
    border-bottom: none;
    color: var(--clr-pink);
    transform: scaleY(1.1) translateY(0px);
    width: max-content;
}

.tab__body {
    position: relative;
    border-radius: 1rem;
    border: 1px solid var(--clr-pink);
    height: 50rem;
    z-index: 10;

}

/*エリアの表示非表示と形状*/
.tab__area {
    display: none;
    /*はじめは非表示*/
    opacity: 0;
    /*透過0*/
    background: #fff;
    padding: 50px 20px;
}

/*areaにis-activeというクラスがついた時の形状*/
.tab__area.is-active {
    display: block;
    /*表示*/
    animation-name: displayAnime;
    /*ふわっと表示させるためのアニメーション*/
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.full-stars {
    /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
    /* make hover effect work properly in IE */
    /* hide radio inputs */
    /* set icon padding and size */
    /* set default star color */
    /* set color of none icon when unchecked */
    /* if none icon is checked, make it red */
    /* if any input is checked, make its following siblings grey */
    /* make all stars orange on rating group hover */
    /* make hovered input's following siblings grey on hover */
    /* make none icon grey on rating group hover */
    /* make none icon red on hover */
}

.full-stars .rating-group {
    display: inline-flex;
}

.full-stars .rating__icon {
    pointer-events: none;
}

.full-stars .rating__input {
    position: absolute !important;
    left: -9999px !important;
}

.full-stars .rating__label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 2rem;
}

.full-stars .rating__icon--star {
    color: var(--clr-pink);
}

.full-stars .rating__icon--none {
    color: #eee;
}

.full-stars .rating__input--none:checked+.rating__label .rating__icon--none {
    color: red;
}

.full-stars .rating__input:checked~.rating__label .rating__icon--star {
    color: #ddd;
}

.full-stars .rating-group:hover .rating__label .rating__icon--star {
    color: var(--clr-pink);
}

.full-stars .rating__input:hover~.rating__label .rating__icon--star {
    color: #ddd;
}

.full-stars .rating-group:hover .rating__input--none:not(:hover)+.rating__label .rating__icon--none {
    color: #eee;
}

.full-stars .rating__input--none:hover+.rating__label .rating__icon--none {
    color: red;
}

/* marquee and track prop */
/* essensial component prop */
.essential{
    display: inline-block;
    line-height: 1.8;
    padding: 0.2rem 1rem;
    background: var(--clr-pink);
    color: #fff;
    font-size: 1.4rem;
    border-radius: 0.4rem;
    margin-left: 3.8rem;
}

.prevnext-btn {
    padding: 3.8rem 0 2rem;
    border-top: 1px solid var(--clr-pink);
}
.prevnext-btn .prevnext-btn__group{
    display: flex;
    align-items: center;
    justify-content: flex-end   ;
    
}
.prevnext-btn .prevnext-btn__group button{
    border: 1px solid var(--clr-pink);
    padding: 1rem 2rem;
    overflow: hidden;
}
.prevnext-btn .prevnext-btn__group button:first-child{
    background: #fff;
    color: var(--clr-pink);
    border-radius: 1rem 0 0 1rem;
    
}
.prevnext-btn .prevnext-btn__group button:first-child:hover{
    background: var(--clr-pink);
    color: #fff;
}
.prevnext-btn .prevnext-btn__group button:last-child{
    
    background: var(--clr-pink);
    color: #fff;
    border-radius: 0 1rem 1rem 0;
}
.prevnext-btn .prevnext-btn__group button:last-child:hover{
    background: #fff;
    color: var(--clr-pink);
}
[class*="hvr-sweep"]::after,
[class*="hvr-sweep"]::before {
    background: #fff;
}
@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}
@media screen and (max-width: 429px) {
    .marquee-wrapper{
        position: relative;
        overflow-x: hidden;
    }
    .marquee {
        /* position: relative; */
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }
    .track {
        display: block;
        /* position: absolute; */
        white-space: nowrap;
        will-change: transform;
        animation: marquee 10s linear infinite;
    }
}


/* step pregress bar */
.step-progress-wrapper{
    margin-left: 8rem;
}
.step-progress-lists{
    display: grid;
    grid-template-columns: repeat(9, minmax(0rem, 1fr));
    align-items: center;
    justify-content: space-between;
}
.step-progress-item:after{

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10rem;
    height: 1.2rem;
    translate: -5rem -3rem;
    background: var(--clr-step);
    clip-path: polygon(5% 0, 95% 0, 100% 100%, 0 100%);
}
.step-item-wrapper{

    display: grid;
    row-gap: 2rem;
    justify-content: center;
    height: 7rem;
}
.step-number-wrapper::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    rotate: 45deg;
    border-radius: 0.6rem;
    width: 4rem;
    height: 4rem;
    background: var(--clr-step);
}
.step-number{
    position: relative;
    color: #fff;
    font-weight: 900;
    display: block;
    text-align: center;
    z-index: 999;
    font-size: 1.8rem;
}
.step-desc{
    letter-spacing: 0.1em;
    font-size: 1.2rem;
    color: var(--clr-step);
    font-weight: 900;
}

.step-progress-item.completed .step-number-wrapper::before{
    background: var(--clr-mid-pink);
}
.step-progress-item.completed:after{
    background: var(--clr-mid-pink);
}
.step-progress-item.completed .step-desc{
    color: var(--clr-mid-pink);
}

.step-progress-item.current .step-number-wrapper::before{
    background: var(--clr-mid-pink);
}
.step-progress-item.current:after{
    background: var(--clr-mid-pink);
}
.step-progress-item.current .step-desc{
    color: var(--clr-mid-pink);
}
/* modal component prop */


.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, .7);
  transition: all .4s;
  z-index: 99999;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal__wrapper {
  border-radius: 0.4rem;
  position: relative;
  width: 50rem;
  max-width: 90%;
  background: #fff;
  padding: 1em 2em;
}
.modal__header{
    padding: 1rem 0;
}
.modal__header{
    border-bottom: 1px solid var(--clr-lgt-brown);
}
.modal__header h3{
    font-size: 2rem;
}
.modal__body{
    padding: 1rem 0;
}
.modal__footer {
  display: flex;
  justify-content: flex-end;
  column-gap: 1rem;
}
.modal__footer a{
    padding: 0.6rem 2rem;
    border-radius: 0.4rem;
    font-size: 1.4rem;
}
.modal__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #585858;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.has-essential-mark {
    position: relative;
}
.has-essential-mark::after {
    content: "*";
    position: absolute;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    color: var(--clr-pink);
    top: 0rem;
    left: 110%;
}

.form-group .dash-line {
    display: inline-block;
    width: 1rem;
    height: 4.2rem;
    position: relative;
}

.form-group .dash-line::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 2px;
    translate: -50% -50%;
    background: var(--clr-step);
    transition: 0.3s all ease-in-out;
}

.form-group {
    align-items: flex-start;
    column-gap: 1rem;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 10rem minmax(0rem, 1fr);
}

.form-group input[type="text"] {
    display: inline-block;
    height: 4.2rem;
    padding: 0 2rem;
    border-radius: 0.4rem;
    border: 1px solid var(--clr-ccc);
    transition: 0.3s all ease-in-out;
}



.form-group input[type="text"]:focus {
    border: 1px solid var(--clr-main-black);
}

.form-group label {
    display: inline-block;
    width: fit-content;

}
.form-group .phone-group {
    column-gap: 0.8rem;
}

.form-group .phone-group input {
    width: 8rem;

}

.form-group .box-select {

    width: 18rem;
    height: 4.2rem;
}

.form-group .input__name--wrapper {
    column-gap: 0.8rem;
}

.form-group .input__name--wrapper input {
    width: 8rem;
}


.form-group .prov_city {
    padding: 1rem 0;
    column-gap: 1.8rem;
}

.form-group .prov_city input {
    width: 10rem;
}

.form-group .village {
    padding: 1rem 0;
}
.form-group .mail-wrapper {
    column-gap: 0.8rem;
}
.form-group .mail-wrapper input {
    display: inline-block;
    width: 8rem;
}

/* shopping banner */
.shopping-banner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: var(--clr-lgt-pink);
    background-image: linear-gradient(var(--clr-lgt-pink), #ffffff,var(--clr-lgt-pink));
}

.shopping-banner::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1.4rem;
    height: 100%;
    background-color: var(--clr-mid-pink);
    background-image: linear-gradient(var(--clr-mid-pink), #ffffff, var(--clr-mid-pink));
}
.shopping-banner::after{
    content: "";
    position: absolute;
    left: 50%;
    top: 90%;
    translate: -50% 0;
    width: 90%;
    height: 1px;
    background: var(--clr-mid-pink);
}
.shopping-banner p{
    padding: 0 4rem;
    font-size: 1.6rem;
    font-weight: 900;
    letter-spacing: 0.1em;
    line-height: 3.3rem;
}

/* radio and accordion */
.radio-accordion{
   width: 100%;
}
.radio-accordion-item{
    position: relative;
    border-bottom: 1px solid var(--clr-ccc);
}
.radio-accordion-header{
    padding: 0 5rem;
    height: 8rem;
    position: relative;
    display: flex;
    column-gap: 1rem;
    align-items: center;
}
.radio-accordion-header span.icon{
    display: inline-block;
    top: 50%;
    right: 3rem;
    width: 3rem;
    height: 3rem;
    translate: 0 -50%;
    rotate: 0;
    transition: 0.3s all ease-in-out;
}
.radio-accordion-header span.icon svg{
    display: inline-block;
    width: 100%;
    height: 100%;

}
.radio-accordion-header:has(input[type="radio"]:checked) span.icon{
    rotate: 540deg;
}

.radio-accordion-header label{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
    letter-spacing: 0.1em;
    cursor: pointer;
}
.radio-accordion .radio-accordion-body{
    padding: 3.8rem 12rem;
    display: none;
    transition: 0.6s display ease-in-out;
}
.radio-accordion input[type="radio"]{
    margin: 0 0 !important;
}

/* point section */

.point-section {
    padding: 5.8rem 0 3.8rem;
}
.point-section h5 {
    font-size: 2rem;
    letter-spacing: 0.1em;
    padding-left: 7rem;
    margin-bottom: 4.5rem;
}
.bill-status-wrapper{
    padding: 0 7rem;
    margin-bottom: 3.6rem;
}
.bill-status-wrapper .bill-status-item{
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem; 
}
.bill-status-wrapper .bill-status-item:not(:last-child){
    margin-bottom: 0.4rem;
}
.bill-status-wrapper .bill-status-item span{
    letter-spacing: 0.1em;
}
.point-wrapper{
    padding: 6rem 8rem;
}
.point-wrapper > p:first-child{
    margin-bottom: 1.5rem;
}
.point-wrapper .point-input-wrapper{
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    column-gap: 2rem;
}
/* file upload prop */

.fileupload-wrapper {
    display: flex;
    align-items: center;
    column-gap: 3rem;
}

.custom-button {
    height: 4rem;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    color: #ffffff;
    background-color: var(--clr-pink);
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid var(--clr-pink);
    overflow: hidden;
}

.custom-text {
    display: inline-block;
    vertical-align: middle;
    height: 4rem;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 4rem;
    padding-left: 1rem;
}

.file-name-wrapper {
    position: relative;
    width: 25rem;
    border-bottom: 1px solid var(--clr-pink);
}

.file-name-wrapper a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 1rem;
    translate: 0 -50%;
}

.file-name-wrapper a:hover {
    transform: scale(1.1);
}

.file-name-wrapper a:hover svg path {
    stroke: var(--clr-pink);

}

.file-name-wrapper svg {
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
}

.file-name-wrapper svg path {
    stroke: var(--clr-mid-pink);
    transition: 0.4s all ease-in-out;
}
/* accordion */

.accordion-header {
    padding: 1rem 2rem;
    transition: 0.4s all ease-in-out;
}

.accordion-header.active {

    border-bottom: 1px solid var(--clr-step);

}

.accordion-header span {
    transition: 0.3s all ease-in-out;
}

.accordion-header.active span.icon {
    rotate: 540deg;
}

.accordion-header span.icon {
    top: 50%;
    right: 3rem;
    translate: 0 -50%;
}
.accordion-header svg {
    width: 2.4rem;
    height: 2.4rem;

}

.accordion-header-desc {
    top: unset;
    bottom: 0;
    left: 50%;
    right: unset;
    translate: -50% 0;
    transition: none;
}
.accordion-body {
    display: none;
}
/* ----------------------------------------       responsive prop       -------------------------------------------- */


@media (max-width: 768px) and (min-width: 429px) {
    .h-container {
        max-width: 70rem;
        padding: 0 1.5rem;
        margin: 0 auto;
    }

    /* hide and display */
    .pc-hide {
        display: block;
    }

    .sp-hide {
        display: none;
    }

    .prd-lists {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 4rem;
        row-gap: 4rem;
    }
    .step-progress-wrapper {
        margin-left: 0rem;
        margin: 0 -2rem;
        scale: 0.95;
        translate: 2.7rem 0;
    }

    .step-desc {
        font-size: 1rem;
    }

    .step-progress-item:after {

        width: 8rem;
        height: 1.2rem;
        translate: -4rem -2.5rem;
    }
    .shopping-banner {
        padding: 2rem 4rem;
    }
    .fileupload-wrapper {
        justify-content: space-between;
    }
    .fileupload-wrapper *{
        font-size: 1.4rem;
    }
    .file-name-wrapper {
        position: relative;
        width: 20rem;
        border-bottom: 1px solid var(--clr-pink);
    }
    .accordion-header-desc {
        top: unset;
        bottom: 0;
        left: 63%;
        right: unset;
        translate: -50% 0;
        display: inline-block;
        width: 26rem;
        font-size: 1.2rem;
        transition: none;
    }
}

@media (max-width: 428px) {
    .h-container {
        max-width: 40rem;
        padding: 0 1.5rem;
        margin: 0 auto;
    }

    /* hide and display */
    .pc-hide {
        display: block;
    }

    .sp-hide {
        display: none;
    }

    .prd-lists {
        display: grid;
        grid-template-columns: 100%;
        column-gap: 4rem;
        row-gap: 3.4rem;
    }

    .breadcrumb .breadcrumb-wrapper {
        padding: 1rem 1rem;
        border-radius: 0.4rem;
    }

    .pagination a {
        width: 3rem;
        height: 3rem;
        border-radius: 0.2rem;
        font-size: 1rem;
    }

    .tab__header {
        margin-left: 5rem;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        z-index: 30;
        margin-left: 0;
    }

    .tab__header li a {
        font-size: 0.8rem;
        margin: 0 1px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 7rem;
    }

    .tab__header li a:not(:first-child) {

        border-left: 3px solid #fff !important;
    }

    .tab__header li.active a {
        background: #fff;
        border-bottom: none;
        color: var(--clr-pink);
        transform: scaleY(1.1) translateY(0px);
        width: max-content;
        margin-right: 0.2rem;
    }
    .step-progress-item:first-child:after {
        content: none;
    }

    .step-progress-item.current:first-child:before {

        position: absolute;
        content: "";
        width: 1rem;
        height: 0.8rem;
        background: var(--clr-mid-pink);
        translate: 2.4rem -2rem;
        z-index: 893;
    }
    .step-progress-item:nth-child(even){
        translate: 0 -8rem;
    }
    .step-progress-item:nth-child(even) .step-item-wrapper{
        display: flex;
        flex-direction: column-reverse;

    }
    .step-progress-item:nth-child(even):after{
        translate: -2rem 6rem;
    }
    .step-progress-item:after {

        width: 4rem;
        height: 0.8rem;
        translate: -2rem -2rem;
        clip-path: polygon(5% 0, 95% 0, 100% 100%, 0 100%);
    }

    .step-progress-wrapper {
        margin-left: 0;

    }

    .step-number-wrapper::before {
        width: 3rem;
        height: 3rem;
    }

    .step-number {
        font-size: 1.4rem;
    }

    .step-item-wrapper {
        height: 4rem;
    }

    .step-desc {
        font-size: 1rem;
        margin: 0 -2rem;
        text-align: center;
    }
    .form-group {
        align-items: flex-start;
        column-gap: 1rem;
        padding: 1rem 0;
        display: grid;
        grid-template-columns: 100%;
        row-gap: 1rem;
    }
    .form-group label + *{
        margin-left: 2rem;
    }
    .shopping-banner {
        
        padding: 2rem 3rem;
    }
    .shopping-banner::after {
        top: 96%;
    }
    .shopping-banner p {
        font-size: 1.2rem;
    }
    .radio-accordion-header {
        padding: 0 2rem;
        height: 5rem;
        position: relative;
        display: flex;
        column-gap: 1rem;
        align-items: center;
    }
    .radio-accordion-header label {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 1.4rem;
        letter-spacing: 0.1em;
        cursor: pointer;
    }
    .radio-accordion .radio-accordion-body {
        padding: 2rem 7rem;
        display: none;
        transition: 0.6s display ease-in-out;
    }
    main#sender .radio-accordion-body .sender__info--item{
        font-size: 1.4rem;
    }
    .radio-accordion-header span.icon {
        display: inline-block;
        top: 50%;
        right: 2rem;
        width: 2rem;
        height: 3rem;
        translate: 0 -50%;
        rotate: 0;
        transition: 0.3s all ease-in-out;
    }
    .point-section h5 {
        font-size: 2rem;
        letter-spacing: 0.1em;
        padding-left: 2rem;
        margin-bottom: 1.5rem;
    }
    .bill-status-wrapper {
        padding: 0 5rem;
        margin-bottom: 1.6rem;
    }
    .bill-status-wrapper {
        padding: 0 5rem;
        margin-bottom: 1.6rem;
    }
    .point-wrapper {
        padding: 3rem 2rem;
    }
    .point-wrapper * {
        font-size: 1.4rem;
    }
    .bill-status-wrapper .bill-status-item * {
        font-size: 1.4rem;
    }
    .fileupload-wrapper {
        display: flex;
        align-items: center;
        column-gap: 3rem;
        flex-wrap: wrap;
        row-gap: 1rem;
    }
    .custom-button {
        height: 4rem;
        display: flex;
        align-items: center;
        padding: 0 2rem;
        color: #ffffff;
        background-color: var(--clr-pink);
        border-radius: 5px;
        cursor: pointer;
        border: 1px solid var(--clr-pink);
        overflow: hidden;
        width: 100%;
        text-align: ceter;
        justify-content: center;
        letter-spacing: 0.1em;
    }
    
}

@media (max-width: 768px) {
    header .header-nav .header-nav__lists-item .header-nav__lists-item__wrapper {
        width: 8rem;
        height: 8rem;
    }

    .full-stars .rating__label {
        cursor: pointer;
        padding: 0 0.1em;
        font-size: 1.2rem;
    }

    .tab__header {
        margin-left: 1rem;

    }

    .tab__header li a {
        font-size: 0.8rem;
    }

    .tab__header li a {

        min-width: 5rem;
    }

    .tab__header {
        flex-wrap: nowrap;
    }
    .essential {
        line-height: 1.6;
        padding: 0.2rem 1rem;
        font-size: 1rem;
    }
}