.font-0 {
    font-size: 0rem !important;
}

.font-1 {
    font-size: 0.1rem !important;
}

.font-2 {
    font-size: 0.2rem !important;
}

.font-3 {
    font-size: 0.3rem !important;
}

.font-4 {
    font-size: 0.4rem !important;
}

.font-5 {
    font-size: 0.5rem !important;
}

.font-6 {
    font-size: 0.6rem !important;
}

.font-7 {
    font-size: 0.7rem !important;
}

.font-8 {
    font-size: 0.8rem !important;
}

.font-9 {
    font-size: 0.9rem !important;
}

.font-10 {
    font-size: 1rem !important;
}

.font-11 {
    font-size: 1.1rem !important;
}

.font-12 {
    font-size: 1.2rem !important;
}

.font-13 {
    font-size: 1.3rem !important;
}

.font-14 {
    font-size: 1.4rem !important;
}

.font-15 {
    font-size: 1.5rem !important;
}

.font-16 {
    font-size: 1.6rem !important;
}

.font-17 {
    font-size: 1.7rem !important;
}

.font-18 {
    font-size: 1.8rem !important;
}

.font-19 {
    font-size: 1.9rem !important;
}

.font-20 {
    font-size: 2rem !important;
}

.font-21 {
    font-size: 2.1rem !important;
}

.font-22 {
    font-size: 2.2rem !important;
}

.font-23 {
    font-size: 2.3rem !important;
}

.font-24 {
    font-size: 2.4rem !important;
}

.font-25 {
    font-size: 2.5rem !important;
}

.font-26 {
    font-size: 2.6rem !important;
}

.font-27 {
    font-size: 2.7rem !important;
}

.font-28 {
    font-size: 2.8rem !important;
}

.font-29 {
    font-size: 2.9rem !important;
}

.font-30 {
    font-size: 3rem !important;
}

.font-31 {
    font-size: 3.1rem !important;
}

.font-32 {
    font-size: 3.2rem !important;
}

.font-33 {
    font-size: 3.3rem !important;
}

.font-34 {
    font-size: 3.4rem !important;
}

.font-35 {
    font-size: 3.5rem !important;
}

.font-36 {
    font-size: 3.6rem !important;
}

.font-37 {
    font-size: 3.7rem !important;
}

.font-38 {
    font-size: 3.8rem !important;
}

.font-39 {
    font-size: 3.9rem !important;
}

.font-40 {
    font-size: 4rem !important;
}

.font-41 {
    font-size: 4.1rem !important;
}

.font-42 {
    font-size: 4.2rem !important;
}

.font-43 {
    font-size: 4.3rem !important;
}

.font-44 {
    font-size: 4.4rem !important;
}

.font-45 {
    font-size: 4.5rem !important;
}

.font-46 {
    font-size: 4.6rem !important;
}

.font-47 {
    font-size: 4.7rem !important;
}

.font-48 {
    font-size: 4.8rem !important;
}

.font-49 {
    font-size: 4.9rem !important;
}

.font-50 {
    font-size: 5rem !important;
}

.font-51 {
    font-size: 5.1rem !important;
}

.font-52 {
    font-size: 5.2rem !important;
}

.font-53 {
    font-size: 5.3rem !important;
}

.font-54 {
    font-size: 5.4rem !important;
}

.font-55 {
    font-size: 5.5rem !important;
}

.font-56 {
    font-size: 5.6rem !important;
}

.font-57 {
    font-size: 5.7rem !important;
}

.font-58 {
    font-size: 5.8rem !important;
}

.font-59 {
    font-size: 5.9rem !important;
}

.font-60 {
    font-size: 6rem !important;
}

.font-61 {
    font-size: 6.1rem !important;
}

.font-62 {
    font-size: 6.2rem !important;
}

.font-63 {
    font-size: 6.3rem !important;
}

.font-64 {
    font-size: 6.4rem !important;
}

.font-65 {
    font-size: 6.5rem !important;
}

.font-66 {
    font-size: 6.6rem !important;
}

.font-67 {
    font-size: 6.7rem !important;
}

.font-68 {
    font-size: 6.8rem !important;
}

.font-69 {
    font-size: 6.9rem !important;
}

.font-70 {
    font-size: 7rem !important;
}

.font-71 {
    font-size: 7.1rem !important;
}

.font-72 {
    font-size: 7.2rem !important;
}

.font-73 {
    font-size: 7.3rem !important;
}

.font-74 {
    font-size: 7.4rem !important;
}

.font-75 {
    font-size: 7.5rem !important;
}

.font-76 {
    font-size: 7.6rem !important;
}

.font-77 {
    font-size: 7.7rem !important;
}

.font-78 {
    font-size: 7.8rem !important;
}

.font-79 {
    font-size: 7.9rem !important;
}

.font-80 {
    font-size: 8rem !important;
}

.font-81 {
    font-size: 8.1rem !important;
}

.font-82 {
    font-size: 8.2rem !important;
}

.font-83 {
    font-size: 8.3rem !important;
}

.font-84 {
    font-size: 8.4rem !important;
}

.font-85 {
    font-size: 8.5rem !important;
}

.font-86 {
    font-size: 8.6rem !important;
}

.font-87 {
    font-size: 8.7rem !important;
}

.font-88 {
    font-size: 8.8rem !important;
}

.font-89 {
    font-size: 8.9rem !important;
}

.font-90 {
    font-size: 9rem !important;
}

.font-91 {
    font-size: 9.1rem !important;
}

.font-92 {
    font-size: 9.2rem !important;
}

.font-93 {
    font-size: 9.3rem !important;
}

.font-94 {
    font-size: 9.4rem !important;
}

.font-95 {
    font-size: 9.5rem !important;
}

.font-96 {
    font-size: 9.6rem !important;
}

.font-97 {
    font-size: 9.7rem !important;
}

.font-98 {
    font-size: 9.8rem !important;
}

.font-99 {
    font-size: 9.9rem !important;
}

.font-100 {
    font-size: 10rem !important;
}
